@* @{
    ViewBag.ShowFooter = false;
} *@
@model ChangePasswordViewModel

<!DOCTYPE html>
<head>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>

        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 100vh;
        }

        .change-password-main {
            display: flex;
            align-items: center;
        }

        .change-password-body {
            padding-left: 100px;
        }

        .change-password-body button {
                width: 200px;
                border-radius: 20px;
                font-weight: bold;
        }
    </style>
</head>


<div class="change-password-main">
   
    <div class="main-img">
            <img class="main-image" src="/Images/foregtPass.jpeg" />
    </div>
    <div class="change-password-body">
        <h1>Change Password </h1>
        <form action="SaveChangePassword" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"> Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="Email" value="@Model.Email" aria-describedby="emailHelp" readonly>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="exampleInputpassword" name="NewPassword" value="@Model.NewPassword" aria-describedby="passwordHelp">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="ConfirmNewPassword" value="@Model.ConfirmNewPassword">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

