@model LogInViewModel

@{
    ViewBag.ShowFooter = false;
}

<!DOCTYPE html>
<head>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 100vh; /* Ensure full viewport height */
        }

        .register-main-box .main-image {
            margin: 0;
            padding: 0;
        }

    </style>
</head>


<div style=" display: flex;
align-items: center;
">
    <div>
        <img src="/Images/registImage.jpeg" />
    </div>
    <div style="padding-left: 100px;
display: flex; 
justify-content: center;
align-items: center;
flex-direction: column">
        <h1>Hello Again! </h1>
        <p>Welcome back, you have been missed!</p>
        <form asp-action="SaveLogIn" asp-controller="Account" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="Email" value="@Model.Email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" value="@Model.Password" name="Password">
            </div>
            <div class="float-end">
                <a href="/Account/VerifyEmail"> Forgot Password? </a>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="RememberMe" value="@Model.RememberMe" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 450px;
    border-radius: 20px;
    font-weight: bold;">
                Submit
            </button>
        </form>
    </div>
</div>
