<head>

    <link href="/css/landing.css" rel="stylesheet">
    </head>

@{
    Layout = null;
}


@model IEnumerable<object>

<div id="searchResultsContent">
    @if(Model != null && Model.Any())
    {
        @foreach (var item in Model)
        {
            if (item is Company)
            {
                var company = item as Company;
                <div class="search-result-item" >
                   @*  <img src="/Images/@company.ImageUrl" /> *@
                    <a href="/Company/CompanyDetail?id=@company.Id">@company.Name</a>
                </div>
            } else if (item is Trip)
            {
                var trip = item as Trip;
                <div class="search-result-item">
                  @*   <img src="/Images/@trip.MainImage" /> *@
                    <a href="/Company/TripDetail?id=@trip.Id">@trip.Name</a>
                </div>
            }
        }
    }
</div>
