@model List<Company>
<!DOCTYPE html>
<head>

    <link href="/css/landing.css" rel="stylesheet">
    <link href="/css/landingBody.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        body, html {
            overflow-x: hidden;
        }

        .best-compaies-section {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 20px;
            width: 100%;
        }

        .best-compaies-section h4 {
                font-weight: bold;
        }

        .best-compaies-section p {
                padding-bottom: 15px;
        }

      /*   .container-companies {
            width: 1000px;
        } */

        .card-style {
            border-radius: 0;
            height: 400px;
        }

        .container-companies {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .container-companies a {
            margin-bottom: 15px;
        }
       
        .section-before-cards {
            background-color: #f6ddcc;
            height: 150px;
            border-radius: 5px;
            margin-bottom: 50px;
            display: flex;
            color: black;
            align-items: center;
            justify-content: space-between;
           
        }

        .section-before-cards .text-part {
            padding-left: 50px;
        }
           
        .section-before-cards img {
                margin-right: 50px;
                width: 170px;
        }
 
        .section-before-cards h2 {
            font-weight: bold;
        }
       
    </style>


    <!-- Link to the external CSS file -->
</head>
<!--landing container  -->


<!-- section after landing and show compaines  -->

<div id="basicHomeContent" class="basic-home-content">
    <div class="section-before-cards">
        <div class="text-part">
            <h2>Hello @ViewBag.UserName</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
       <div>
           <img src="/Images/travel.png" />
       </div>
    </div>
    <div class="container-companies">
        <div class="d-flex flex-wrap">
                @foreach (var Company in Model)
                {
                    var fullStars = (int)Company.AverageRating;
                    var halfStar = Company.AverageRating - fullStars >= 0.5 ? 1 : 0;
                    var emptyStars = 5 - fullStars - halfStar;

                    <div class="card m-2 card-style" style="width: 18rem;">
                        <img src="/images/@Company.ImageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Company.Name</h5>
                            <a href="/Company/CompanyDetail?id=@Company.Id" class="btn btn-primary">Show Details</a>

                            <ul class="list-unstyled d-flex">
                                @for (int i = 0; i < fullStars; i++)
                                {
                                    <li><span class="fas fa-star"></span></li>
                                }
                                @if (halfStar == 1)
                                {
                                    <li><span class="fas fa-star-half-alt"></span></li>
                                }
                                @for (int i = 0; i < emptyStars; i++)
                                {
                                    <li><span class="far fa-star"></span></li>
                                }
                            </ul>
                        </div>
                    </div>
                }   
        </div>
        
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        $('#searchButton').click(function () {
            var resultItems = $('#inputSearch').val();
            // if (resultItems.trim() !== "") {
            $.ajax({
                url: '/Home/Search',
                type: 'POST',
                data: { search: resultItems },
                success: function (data) {
                    $('#searchResults').html(data);
                    // $('#basicHomeContent').hide();

                },
                error: function (xhr, status, error) {
                    console.error("Error: " + status + " " + error);
                }

            });
        })
    })
</script>


